/*--------------------------------------------------
  wrap, container
--------------------------------------------------*/

.wrap, 
.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

/*--------------------------------------------------
  header-section
--------------------------------------------------*/

.header-section { 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  transition: all 160ms ease-in-out 500ms;
  z-index: 9;

  &.active { top: -$header-height; }

  &.active.show,
  &.menu-opened { top: 0 !important; }
}

/*--------------------------------------------------
  site-header
--------------------------------------------------*/

.site-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: $header-height_m;
  margin: auto;
  padding: 0 10px;
  z-index: 1;
}

@media only screen and (min-width: $media-medium + 1) {
  .site-header { 
    height: $header-height;
    padding: 0 20px; 
  }
}

/*--------------------------------------------------
  site-cta
--------------------------------------------------*/

.site-cta { margin-left: auto; }

/*--------------------------------------------------
  site-navigation
--------------------------------------------------*/

.site-navigation {
  max-height: 0;
  background-color: $accent-color;
  transition: all 120ms ease-in-out 60ms;
  overflow: hidden;

  &.show { max-height: 100vh; }
}

@media only screen and (min-width: $media-medium + 1) {
  .site-navigation {
    max-height: 100vh;

    & ul {
      width: 100%;
      height: $navigation-height;
      margin: auto;
      padding: 0 20px;
    }
  }
}

/*--------------------------------------------------
  site-atf
--------------------------------------------------*/

.site-atf {
  height: 250px;
  padding: $header-height_m 0 0;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  & h2 { text-align: center; }
}

@media only screen and (min-width: $media-medium + 1) {
  .site-atf {
    height: 400px;
    padding: $header-height + $navigation-height 0 0;
  }
}

/*--------------------------------------------------
  site_aside
--------------------------------------------------*/

.site-aside { 
  height: auto;
  padding: 20px 0 0;
}

@media only screen and (min-width: $media-medium + 1) {
  .site-aside { padding: 50px 0 0; }
}

/*--------------------------------------------------
  site-footer
--------------------------------------------------*/

.site-footer {
  position: relative;
  z-index: 1;
}

/*--------------------------------------------------
  ext-footer
--------------------------------------------------*/

.ext-footer {
  display: flex;
  align-items: center;
  height: 60px;
}

/*--------------------------------------------------
  footer
--------------------------------------------------*/

.footer {
  display: flex;
  align-items: center;
  height: 100px;
}

/*--------------------------------------------------
  site-main
--------------------------------------------------*/

.site-main {
  position: relative;
  padding: 20px 0 0;
}

@media only screen and (min-width: $media-medium + 1) {
  .site-main { padding: 50px 0 0; }
}

/*--------------------------------------------------
  section
--------------------------------------------------*/

.section { 
  padding: 10px 10px 20px;

  &.no-pad { padding: 0; }
}

@media only screen and (min-width: $media-medium + 1) {
  .section { padding: 20px 20px 50px; }
}

/*--------------------------------------------------
  article
--------------------------------------------------*/

.article { padding: 40px 0 0; }

/*--------------------------------------------------
  site-content
--------------------------------------------------*/

.site-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto); 

  & aside {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  & main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media only screen and (min-width: $media-small + 1) {
  .site-content {
    -ms-grid-columns: 200px 1fr;
    -ms-grid-rows: 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;

    & aside {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-column: 1/2;
      grid-row: 1;
    }
    
    & main {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-column: 2/3;
      grid-row: 1;
    }
  }
}

