// Helper - Color

/*--------------------------------------------------
  Color
--------------------------------------------------*/

.color-primary { color: $primary-color; }
.color-accent { color: $accent-color; }

.color-grey-50 { color: $grey-50; }
.color-grey-100 { color: $grey-100; }
.color-grey-200 { color: $grey-200; }
.color-grey-300 { color: $grey-300; }
.color-grey-400 { color: $grey-400; }
.color-grey-500 { color: $grey-500; }
.color-grey-600 { color: $grey-600; }
.color-grey-700 { color: $grey-700; }
.color-grey-800 { color: $grey-800; }
.color-grey-900 { color: $grey-900; }

.color-white { color: $white; }
.color-black { color: $black; }
.color-red { color: $red; }
.color-pink { color: $pink; }
.color-purple { color: $purple; }
.color-deep-purple { color: $deep-purple; }
.color-indigo { color: $indigo; }
.color-blue { color: $blue; }
.color-light-blue { color: $light-blue; }
.color-cyan { color: $cyan; }
.color-teal { color: $teal; }
.color-green { color: $green; }
.color-light-green { color: $light-green; }
.color-lime { color: $lime; }
.color-yellow { color: $yellow; }
.color-amber { color: $amber; }
.color-orange { color: $orange; }
.color-deep-orange { color: $deep-orange; }
.color-brown { color: $brown; }
.color-grey { color: $grey; }
.color-blue-grey { color: $blue-grey; }