// Helper - Flex Container

/*--------------------------------------------------
  flex-container
--------------------------------------------------*/

@mixin flex-container($extend: true) {
  @if $extend {
    @extend %flex-container;
  } @else {
    & {
      display: flex;
      flex-wrap: wrap;
    }

    & > div { width: 100%; }
  }
}

%flex-container { @include flex-container($extend: false); }
  
.flex-container {
  @include flex-container;

  &.gap { margin: -10px; }
  &.gap > div { padding: 10px; }

  &.nowrap { flex-wrap: nowrap; }

  &.row-reverse { flex-direction: row-reverse; }
  &.column-reverse { flex-direction: column-reverse; }

  &.align-start { align-items: flex-start; }
  &.align-center { align-items: center; }
  &.align-end { align-items: flex-end; }
  &.justify-start { justify-content: flex-start; }
  &.justify-center { justify-content: center; }
  &.justify-end { justify-content: flex-end; }
  &.justify-spacearound { justify-content: space-around; }
  &.justify-spacebetween { justify-content: space-between; }
  &.justify-spaceevenly { justify-content: space-evenly; }

  &.pad10 { padding: 10px; }
  &.pad20 { padding: 20px; }
  &.pad30 { padding: 30px; }
  &.pad40 { padding: 40px; }
  &.pad50 { padding: 50px; }

  &.vpad10 { padding: 10px 0; }
  &.vpad20 { padding: 20px 0; }
  &.vpad30 { padding: 30px 0; }
  &.vpad40 { padding: 40px 0; }
  &.vpad50 { padding: 50px 0; }

  &.hpad10 { padding: 0 10px; }
  &.hpad20 { padding: 0 20px; }
  &.hpad30 { padding: 0 30px; }
  &.hpad40 { padding: 0 40px; }
  &.hpad50 { padding: 0 50px; }
}

@media only screen and (min-width: $media-medium + 1) {
  .flex-container {

    &.gap { margin: -20px; }
    &.gap > div { padding: 20px; }

    & > div { padding: 0; }

    &.row-reverse-desktop { flex-direction: row-reverse; }
    &.column-reverse-desktop { flex-direction: column-reverse; }

    &.align-start-desktop { align-items: flex-start; }
    &.align-center-desktop { align-items: center; }
    &.align-end-desktop { align-items: flex-end; }
    &.justify-start-desktop { justify-content: flex-start; }
    &.justify-center-desktop { justify-content: center; }
    &.justify-end-desktop { justify-content: flex-end; }
    &.justify-spacearound-desktop { justify-content: space-around; }
    &.justify-spacebetween-desktop { justify-content: space-between; }
    &.justify-spaceevenly-desktop { justify-content: space-evenly; }
  }
}

@media only screen and (max-width: $media-medium) {
  .flex-container {

    &.row-reverse-mobile { flex-direction: row-reverse; }
    &.column-reverse-mobile { flex-direction: column-reverse; }

    &.align-start-mobile { align-items: flex-start; }
    &.align-center-mobile { align-items: center; }
    &.align-end-mobile { align-items: flex-end; }
    &.justify-start-mobile { justify-content: flex-start; }
    &.justify-center-mobile { justify-content: center; }
    &.justify-end-mobile { justify-content: flex-end; }
    &.justify-spacearound-mobile { justify-content: space-around; }
    &.justify-spacebetween-mobile { justify-content: space-between; }
    &.justify-spaceevenly-mobile { justify-content: space-evenly; }
  }
}

/*--------------------------------------------------
  flex-container - Column
--------------------------------------------------*/

@each $column-width in $col-width-list {
  $i: index($col-width-list, $column-width);

  .flex-container { 
    .flex-content {
      &.xs#{$i} { width: nth($col-width-list, $i); }
    }
  }
}

@media (min-width: $media-small + 1) {
  @each $column-width in $col-width-list {
    $i: index($col-width-list, $column-width);
    .flex-container {
      .flex-content {
        &.s#{$i} { width: nth($col-width-list, $i); }
      }
    }
  }
}

@media (min-width: $media-medium + 1) {
  @each $column-width in $col-width-list {
    $i: index($col-width-list, $column-width);

    .flex-container {
      .flex-content {
        &.m#{$i} { width: nth($col-width-list, $i); }
      }
    }
  }
}

@media (min-width: $media-large + 1) {
  @each $column-width in $col-width-list {
    $i: index($col-width-list, $column-width);

    .flex-container {
      .flex-content {
        &.l#{$i} { width: nth($col-width-list, $i); }
      }
    }
  }
}