// Helper - Grid Layout

/*--------------------------------------------------
  col
--------------------------------------------------*/

@mixin col($extend: true) {
  @if $extend {
    @extend %col;
  } @else {
    & {
      float: left;
      width: 100%;
    }
  }
}

%col { @include col($extend: false); }

@each $column-width in $col-width-list {
  $i: index($col-width-list, $column-width);
  .col { 
    @include col;
    &.xs#{$i} { width: nth($col-width-list, $i); }
  }
}

@media (min-width: $media-small + 1) {
  @each $column-width in $col-width-list {
    $i: index($col-width-list, $column-width);
    .col { 
      &.s#{$i} { width: nth($col-width-list, $i); }
    }
  }
}

@media (min-width: $media-medium + 1) {
  @each $column-width in $col-width-list {
    $i: index($col-width-list, $column-width);
    .col { 
      &.m#{$i} { width: nth($col-width-list, $i); }
    }
  }
}

@media (min-width: $media-large + 1) {
  @each $column-width in $col-width-list {
    $i: index($col-width-list, $column-width);
    .col { 
      &.l#{$i} { width: nth($col-width-list, $i); }
    }
  }
}