// Helper - Others

/*--------------------------------------------------
  Display according to viewport
--------------------------------------------------*/

@media only screen and (min-width: $media-medium + 1) {
  .mobile { display: none !important; }
}

@media only screen and (max-width: $media-medium) {
  .desktop { display: none !important; }
}

/*--------------------------------------------------
  Float
--------------------------------------------------*/

.float-left { float: left; }
.float-right { float: right; }

/*--------------------------------------------------
  Typoghrapy
--------------------------------------------------*/

.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-right { text-align: right; }
.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.font-small { font-size: $small-size; }
.font-medium { font-size: $medium-size; }
.font-large { font-size: $large-size; }
.font-large { font-size: $extra-large-size; }

/*--------------------------------------------------
  gutter
--------------------------------------------------*/

.gutter {
  margin: auto;

  &.ver-10 { margin: 10px 0; }
  &.ver-20 { margin: 20px 0; }
  &.ver-30 { margin: 30px 0; }
  &.ver-40 { margin: 40px 0; }
  &.ver-50 { margin: 50px 0; }
  &.ver-60 { margin: 60px 0; }
  &.ver-70 { margin: 70px 0; }
  &.ver-80 { margin: 80px 0; }
  &.ver-90 { margin: 90px 0; }
  &.ver-100 { margin: 100px 0; }

  &.top-10 { margin-top: 10px; }
  &.top-20 { margin-top: 20px; }
  &.top-30 { margin-top: 30px; }
  &.top-40 { margin-top: 40px; }
  &.top-50 { margin-top: 50px; }
  &.top-60 { margin-top: 60px; }
  &.top-70 { margin-top: 70px; }
  &.top-80 { margin-top: 80px; }
  &.top-90 { margin-top: 90px; }
  &.top-100 { margin-top: 100px; }

  &.bot-10 { margin-bottom: 10px; }
  &.bot-20 { margin-bottom: 20px; }
  &.bot-30 { margin-bottom: 30px; }
  &.bot-40 { margin-bottom: 40px; }
  &.bot-50 { margin-bottom: 50px; }
  &.bot-60 { margin-bottom: 60px; }
  &.bot-70 { margin-bottom: 70px; }
  &.bot-80 { margin-bottom: 80px; }
  &.bot-90 { margin-bottom: 90px; }
  &.bot-100 { margin-bottom: 100px; }
}

/*--------------------------------------------------
  Z-depth
--------------------------------------------------*/

.z-depth { box-shadow: $z-depth; }