/*--------------------------------------------------
  btn
--------------------------------------------------*/

@mixin btn($extend: true) {
  @if $extend {
    @extend %btn;
  } @else {
    & {
      display: inline-block;
      padding: 0 20px;
      color: $default-color;
      font-size: $default-size;
      line-height: $button-radius + $button-radius;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: $button-radius;
      background-color: $white;
      white-space: nowrap;
    }

    &:hover { box-shadow: $z-depth; }

    &:hover, &:focus, &:active, &:visited { color: $default-color; }

    @at-root { .btn-cluster { margin: -$button-gap; & .btn { margin: $button-gap; } } }
  }
}
  
%btn { @include btn($extend: false); }

.btn { 
  @include btn;

  &.red {
    color: $white;
    background-color: $red-500;
  }

  &.green {
    color: $white;
    background-color: $green-500;
  }

  &.blue {
    color: $white;
    background-color: $blue-500;
  }

  &.orange {
    color: $white;
    background-color: $orange-500;
  }
}

@media only screen and (min-width: $media-small + 1) {
  // Sample only
  // Sample on extending on a media query (add "false")
  .btn-sample-desktop {
    @include btn(false);
    background-color: FAFAFA;
    height: 20px;
  }
}