/*--------------------------------------------------
  card
--------------------------------------------------*/

@mixin card($extend: true) {
  @if $extend {
    @extend %card;
  } @else {
    & {
      height: $card-height;
      background-color: $card-color;
      border: $card-border;
      border-radius: $card-radius;
    }
  }
}

%card { @include card($extend: false); }

.card {
  @include card;
  & .card-content { padding: $card-padding_m; } 
}

@media (min-width: $media-medium + 1) {
  .card {
    & .card-content { padding: $card-padding; } 
  }
}