/*--------------------------------------------------
  heading-title
--------------------------------------------------*/

@mixin title($extend: true) {
  @if $extend {
    @extend %title;
  } @else {
    & {
      color: $primary-color;
      font-size: $large-size;
      font-feature-settings: "palt";
    }
  }
}

%title { @include title($extend: false); }

.section-heading {
  @include title;
  padding: 0 0 10px;
  margin: 0 0 40px;
  border-bottom: 1px solid $primary-color;
}

.article-heading {
  @include title;
  padding: 0 0 10px;
  margin: 0 0 20px;
  color: $accent-color;
  font-size: $default-size;
  border-bottom: 1px solid $accent-color;
}

.atf-heading {
  @include title;
  color: $primary-color;
  font-size: $extra-large-size;
}

.title {
  @include title;
  margin: 0 0 20px;
  font-size: $medium-size;
}